@media screen and (max-width: 600px){
    main{
        width: 600px;
        margin:30px auto 0 auto;
        position: relative;
        left: 45px;

    }
    body{
        margin: 0;
    }

    header h3{
        font-size: 22px;
    }

    nav{
        display: none;
    }
    .iconContainer{
        margin-left: 30px;
        margin-right: 0px;
    }
    ._3line{
        display: inline-block;
       margin-left: 240px;
    }
    .sect_explore{
        width: 550px;
        margin:20px auto 0 auto;
    }
    .explore{
        font-size: 22px;
        margin: 0px auto 20px auto;
    }
    .exploreDetails{
        width: 305px;
    }
    .findNow{
        width: 300px;
        height: 300px;
        margin: 30px auto;
        flex-direction: column;
    }
    .findNowInput{
        width: 255px;
        margin: 0px auto;
    }
    .gg-search {
        margin-right: 0;
    }
    .findButton p{
        position: relative;
        right: 30px;
    }
    .sect_popular_tours{
        width: 550px;
        margin: 50px auto; 
        flex-direction: column;
    }
    .ourPopularTours{
        font-size: 22px;
        font-weight: 800;
    }
    .exploreDetails{
        text-align: justify;
    }
    .sect_popular_tours img{
        width: 550px;
        height: 550px;
        border-radius: 16px;
        margin: 30px auto;
    }
    .chooseYourDest{
        font-size: 20px;
        margin: 100px auto 0 auto;
    }
    .chooseYourDestDetails{
        width: 550px;
        margin: 0 auto;
    }
    .row1,.row2,.row3{
        width: 550px;
        flex-direction: column;
        margin: 0px auto 0 auto;
    }
    .maldives,.indonesia,.srilanka,.northamerica,.kashmir,.bangladesh,.bandarban{
        width: 550px;
        margin: 20px auto;
    }
    .srilanka,.northamerica,.kashmir,.bangladesh,.bandarban{
        background-size: cover;
    }




    .whychoose{
        font-size: 20px;
        margin-top: 100px;
    }
    .sect_choose_your_dest>.commonText{
        width: 550px;
        text-align: center;
        margin: 0 auto;
    }
    .line1{
        flex-direction: column;
        gap: 20px;
    }
    .hotels, .services,.line2_price{
        width: 550px;
        height: 400px;
        padding: 40px;
        margin: 0 auto;
        box-sizing: border-box;
    }
    .line2_price{
        margin-top: 20px;
    }



    .sect_newslatter{
        flex-direction: column;        
        margin: 150px auto 0 auto;
        gap: 20px;
    }
        .newsl_Container1{
            width: 550px;
            margin: 0 auto;
        }
        .newsl_Container2{
            width: 550px;
            margin: 0 auto;
            border-radius: 16px;
        }
        .discount{
            left:210px;
            top: 247px;
        }
        footer h3{
            font-size: 25px;
            font-weight: 800;
        }
        footer img{
            width: 45px;
            height: 44px;
        }
        footer{
            width: 600px;
            height: 400px;
        }
        footer p{
            margin: auto auto;
        }
        .footerHRLine{
            width: 500px;
            margin: 50px auto;
        }
        .foot_iconContainer{
            padding-top: 30px;
        }
    
/* Dubai section */
.sect_DubaiTour{
    width: 550px;
    height: 1600px;
    background: linear-gradient(to bottom, #fbfaf938, #f0d399a4);
    border: 2px solid rgb(247, 155, 7);
    margin: 150px auto 0 auto;
    border-radius: 16px;
 }
 .dubaiTitle{
    font-size: 20px;
    position: relative;
    bottom: 120px;
    margin-left: 50px;
    top: -50px;
}
.dubaiImg{
    width: 500px;
    height: 550px;
    margin: 0;
    position: relative;
    left: 25px;
    border-radius: 16px;
    border: 1px solid rgb(9, 6, 2);
}
.dubaiContainer2{
    flex-direction: column;
}
.offerImg{
    width: 100px;
    height: 100px;
    position: relative;
    left: -200px;
   
}
.formContainer{
    position: relative;
    left: 50px;
    top: -200px;
}
.stylebox{
    width: 510px;
    position: relative;
    right: 32px;
    bottom: 370px;
}
.stylebox img{
    width: 260px;
    height: fit-content;
    position: relative;
    bottom: -142px;
    left: 295px;
    margin-right: 0;
}

._100free{
    width: 120px;
    height: fit-content;
    position: relative;
    bottom: 320px;
    left: 250px;
    margin-right: 0;
}
._100txt{
    position: relative;
    top: -320px;
    left: 35px;
}
footer{
    width: 100%;
    background: none;
    position: relative;
    left: 45px;
}
 
.offerImg{
    width: 80px;
    height: fit-content;
    position: relative;
    left: 440px;
    top: -40px;
    
}

}