@media screen and (max-width: 576px){

    header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0;
    }
    .iconContainer{
        display: flex;
    }
    header img{
        width: 1px;
        height: .5rem;
        margin: auto 15px auto 0px;
    }
    nav{
        display: flex;
    }

    header h3{
        color: #131318;
        font-family: 'Mulish';
        font-size: 36px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }
    nav ul{
        list-style: none;
        display: flex;
        width: 505px;
        display: flex;
        justify-content: space-between;
    }
    nav a{
        text-decoration: none;
    }
    .home{
        color: #FF5400;
        text-align: center;
        font-family: Mulish;
        font-size: 18px;
        font-weight: 700;
    }

/* Explore section */

    .sect_explore{
        width: 1170px;
        height: 500px;
        background-image: url(images/Group\ 13.png), linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
        background-blend-mode: overlay;
        background-repeat: no-repeat;
        background-size: 100% 100%;
        border-radius: 16px;
        margin-top: 20px;
        padding-top:106px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .explore{
        color: #FFF;
        font-family: Mulish;
        font-size: 64px;
        font-weight: 800;
        text-align: center;
        margin: 30px auto 40px auto;
    }
    .exploreDetails{
        width: 675px;
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px; 
        margin:0 auto;
    }
    .findNow{
        width: 800px;
        height: 84px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.30);
        margin: 60px auto;
        display: flex;
        justify-content: space-around;
    }
    .findNowInput{
        width: 176px;
        height: 52px;
        background-color: #FFF;
        border-radius: 8px;
        margin: auto 0px;
        border: 0;
        color: rgba(19, 19, 24, 0.50);
        text-align: left;
        font-family: Mulish;
        font-size: 16px;
        font-weight: 400;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;

    }
    .gg-search {
        color: #FFF;
        box-sizing: border-box;
        position: relative;
        display: block;
        transform: scale(var(--ggs,1));
        width: 16px;
        height: 16px;
        border: 2px solid;
        border-radius: 100%;
        margin-left: -4px;
    }
    .findButton{
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding-right: 30px;
        padding-left: 30px;
        background-color: #FF5400;
    }
    .findButton p{
        color: #FFF;
        text-align: center;
        font-family: Mulish;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    ::placeholder{
        color: rgba(19, 19, 24, 0.50);
        text-align: left;
        font-family: Mulish;
        font-size: 16px;
        font-weight: 400;
    }

}